* {
    box-sizing: border-box;
}
body {
    background: $dark;
    position: relative;
}
.website-title {
    color: $light;
    font-size: $major-title;
    text-align: center;
}

.top-button {
    position: fixed;
    bottom: 0;
    background: $mid;
    width: 100vw;
    padding: .5rem;
    text-align: center;
    & a {
        text-decoration: none;
        color: $light;
    }
}
.back-button {
    &__container {
        margin: 2rem;
    }
    &__link {
        display: inline;
        text-decoration: none;
        color: $light;
        padding: 1rem;
        font-size: $mini-title;
    }
}
